.content form div {
  margin-bottom: 1em;
  position: relative; }
.content form textarea,
.content form input[type="text"],
.content form input[type="search"],
.content form input[type="url"],
.content form input[type="email"],
.content form input[type="password"] {
  width: 100%;
  box-sizing: border-box;
  padding: 0.1rem 0.3rem;
  height: 2em;
  font-size: 1rem;
  font-family: inherit;
  border: 1px solid #aaa;
  border-radius: 2px; }
.content form .formBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0; }
  .content form .formBar div {
    margin: 0; }
    .content form .formBar div:nth-child(2) {
      text-align: right;
      font-size: 0.9rem; }
      .content form .formBar div:nth-child(2) a {
        display: block; }
      @media only screen and (min-width: 480px) {
        .content form .formBar div:nth-child(2) {
          font-size: 1rem; } }

body {
  font-family: 'Roboto',Helvetica,sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.4; }

.login_bar {
  background: #124e8a;
  color: white; }
  .login_bar a, .login_bar a:visited {
    color: white;
    text-decoration: none; }

.login_nav {
  padding: 0.2rem 1.4rem;
  text-align: right; }

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media only screen and (min-width: 768px) {
    .head {
      padding: 1.4rem 0; } }

header {
  background: #008AC4;
  color: white; }
  header a.page_title {
    margin: 0;
    line-height: 0.95em;
    text-decoration: none;
    font-size: 1.7em;
    font-weight: bold;
    color: white;
    margin: 10px 16px 10px 1.4rem; }
    header a.page_title:hover {
      color: #F2F2F2; }
    @media only screen and (min-width: 480px) {
      header a.page_title {
        font-size: 2em; } }

input[type=submit].link, button.link {
  padding: 0;
  border: none;
  background: none;
  display: inline;
  color: white;
  text-decoration: none;
  cursor: pointer; }

img.profile {
  display: inline-block;
  vertical-align: -14px;
  border-radius: 50%;
  margin-right: 6px;
  width: 40px;
  height: 40px; }

.navbar {
  border-bottom: 1px solid #CCC; }
  .navbar ul {
    list-style: none;
    margin: 0 1.4rem;
    padding: 0;
    display: flex; }
  .navbar ul a {
    text-decoration: none;
    display: block;
    padding: 0.8em 1em;
    color: #124e8a; }
    .navbar ul a:hover {
      background-color: #006691;
      color: white; }

@media only screen and (min-width: 1200px) {
  .viewport {
    width: 1200px;
    margin: 0 auto; } }

.compact {
  margin: 0 auto;
  width: 100%; }
  @media only screen and (min-width: 480px) {
    .compact {
      width: 80%; } }
  @media only screen and (min-width: 768px) {
    .compact {
      width: 60%; } }
  @media only screen and (min-width: 1200px) {
    .compact {
      width: 700px; } }

h1, h2, h3, h4, h5, h6 {
  color: #124e8a; }

h1 {
  font-size: 1.7em;
  margin: .67em 0; }

h2 {
  font-size: 1.3em;
  margin: .75em 0; }

h3 {
  font-size: 1.17em;
  margin: .83em 0; }

h4 {
  font-size: 1.12em;
  margin: 1.12em 0; }

h5 {
  font-size: .83em;
  margin: 1.5em 0; }

h6 {
  font-size: .75em;
  margin: 1.67em 0; }

.content {
  padding: 0.5rem 0.5rem;
  text-align: left; }
  @media only screen and (min-width: 480px) {
    .content {
      padding: 1rem 1.4rem; } }

table {
  border-collapse: collapse;
  width: 100%; }

a, a:visited {
  color: blue; }

a {
  text-decoration: none; }

dl dt {
  float: left;
  color: #1868b7;
  font-weight: bold;
  padding: 0.1em; }
dl dd {
  padding: 0.1em 0; }

button, a.btn {
  margin: 0.15em 0 0.15em 0;
  background-color: #124e8a;
  border: 0px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.2em;
  padding: 0.4em 1em; }
  button.danger, a.btn.danger {
    background-color: #e74c3c; }

pre, code {
  font-family: 'Roboto Mono', 'Courier', monospace;
  background: #f4f4f4;
  border: 1px solid #ddd;
  line-height: 1.4;
  font-size: 0.8rem;
  border-radius: 0.3em; }

pre {
  padding: 0.8em 1.4em;
  border-left: 3px solid #124e8a; }
  pre code {
    display: block;
    overflow-x: auto;
    border: none;
    border-radius: 0; }

.box {
  margin-top: 1em;
  margin-bottom: 2em; }
  .box .box-title {
    color: white;
    background: #008AC4;
    border-radius: 3px 3px 0px 0px;
    padding: 0.2em 0.4em; }
    @media only screen and (min-width: 480px) {
      .box .box-title {
        font-size: 1.15em; } }
  .box .box-content {
    padding: 0.8rem 0.5rem;
    border: 1px solid #008AC4; }
    @media only screen and (min-width: 480px) {
      .box .box-content {
        padding: 1.2rem 1rem; } }

.underNav {
  text-align: right;
  font-size: 0.9rem; }
  .underNav button {
    margin-top: 0;
    background-color: #008AC4;
    border-radius: 0 0 3px 3px;
    padding: 2px 5px; }

table {
  width: 100%;
  line-height: 1.6em; }
  table th {
    color: #124e8a;
    border-bottom: 1px solid #124e8a; }
  table td {
    border-bottom: 1px solid #CDCDCD; }

main, section, nav, header {
  display: block; }

.inline {
  display: inline-block; }

/*# sourceMappingURL=main.css.map */
