{% extends "picoAuth_base.twig" %}
{% set viewportClass = 'compact' %}
    
{% block body %}
{% autoescape %}

{% include 'partials/flashes.twig' %}

<div class="box">
    <div class="box-title">
        Password reset
    </div>
    <div class="box-content">
        {% if not auth.vars.resetSent %}
        <form method="POST"  action="{{ "password_reset"|link }}">
            {{ csrf_field() }}
            <div>
                <label for="reset_email">Email:</label>
                <input type="email" id="reset_email" name="reset_email" placeholder="Email address" required>
            </div>
            <div class="formBar">
                <button type="submit">Continue</button>
                <div>
                    Remember the password?
                    <a href="{{ "login"|link }}">Log in</a>
                </div>
            </div>
        </form>
        {% else %}
        Password reset link has been sent.
        If it doesn't appear in your inbox within a few minutes, check your spam folder. 
        {% endif %}
    </div>
</div>

{% endautoescape %}
{% endblock %}
