{% extends "picoAuth_base.twig" %}
{% set viewportClass = 'compact' %}

{% block body %}
{% autoescape %}

{% include 'partials/flashes.twig' %}

<div class="box">
    <div class="box-title">
        {% if auth.vars.isReset %}
        Password reset
        {% else %}
        Password change
        {% endif %}
    </div>
    <div class="box-content">
        <form method="POST"  action="{% if auth.vars.isReset %}{{ "password_reset"|link }}{% else %}{{ "account"|link }}{% endif %}" autocomplete="off">
            {{ csrf_field() }}
            {% if not auth.vars.isReset %}
            <div>
                <label for="old_password">Current password:</label>
                <input type="password" id="old_password" name="old_password" placeholder="Current password" required>
            </div>
            {% endif %}
            <div>
                <label for="new_password">New Password:</label>
                <input type="password" id="new_password" name="new_password" placeholder="New Password" autocomplete="off" required>
            </div>
            <div>
                <label for="new_password_repeat">Repeat New Password:</label>
                <input type="password" id="new_password_repeat" name="new_password_repeat" placeholder="Repeat New Password" autocomplete="off" required>
            </div>
            <button type="submit">Save changes</button>
        </form>
    </div>
</div>

{% endautoescape %}
{% endblock %}
